<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">

    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>MonoMuse</title>

</head>
<body>
    <div>
         <h1>Explore</h1>
         <img src="../static/museum.jpg" alt="MonoMuse museum building" width="500">
    </div>

    <nav>
        <a id="navselected" href="explore.html">Explore</a>
        <a href="index.html">Home</a>
        <a href="views/exhibitions.html">Exhibitions</a>
        <a href="views/tickets.html">Buy Tickets</a>
        <a href="views/checkout.html">Checkout</a>

    </nav>

     <div class="main"> 
        <h2>Mission</h2>
        <p>Our mission is to inspire curiosity and creativity through the intersection of art, technology, and human experience.</p>
        <h2>Milestones</h2>
        <ul> 
            <li>2020: MonoMuse opens its doors to the public with a groundbreaking inaugural exhibition.</li>
            <li>2021: MonoMuse receives the prestigious Art and Technology Award for innovation in museum experiences.</li>
            <li>2022: MonoMuse expands its digital collection, offering virtual tours and online exhibitions to a global audience.</li>
            <li>2023: MonoMuse hosts its first annual Art and Tech Festival, attracting artists, technologists, and visitors from around the world.</li>
        </ul>
        <a href="tickets.html" class="cta">Buy Tickets</a>

        <footer>© 2026 MonoMuse. All rights reserved.</footer>
    </div>
</body>
</html>