<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Your name">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">

    <link rel="stylesheet" href="../static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>MonoMuse</title>

</head>
<body>
    <div>
         <h1>Buy Tickets</h1>
    </div>

    <nav>
        <a id="navselected" href="tickets.html">Buy Tickets</a>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="checkout.html">Checkout</a>

    </nav>

     <div class="main"> 
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>$25.00</td>
            </tr>
            <tr>
                <td>Child</td>
                <td>$15.00</td>
            </tr>
        </table>
        <a href="checkout.html" class="cta">Buy Tickets</a>

        <footer>© 2026 MonoMuse. All rights reserved.</footer>
    </div>
</body>
</html>